{% extends "master.html" %}
{% block title %}
BATCH MASTER
{% endblock %}
{% block content %}
    <body>
        <u><h2 align="center">BATCH MASTER DELETION</h2></u>
        <table border="5" align="center" >
            <tr>
                <th>BatchNO</th>
                <th>BatchId</th>
		<th>Delete</th>
            </tr>
            {% for x in data %}
            <tr>
                <td>{{ x.batchno }}</td>
                <td>{{ x.batchid }}</td>
		<td>
		<a href="{% url 'b_delete' pk=x.id %}">
		<button type="button"> delete</button>
            </tr>
            {% endfor %}
        </table>
<br>
<br>
<p align="center"><a href="{% url 'smms' %}"><button type="button">HOME </button></a></p>
</body>
{% endblock %}

    