<!DOCTYPE html>
<html>
{% extends "master.html" %}
{% block title %}
BATCH MASTER
{% endblock %}
{% block content %}
<h2 align="center">BATCH MASTER UPDATE</h2>
<table border="5" align="center">

<tr>
<th>BatchNo</th>
<th>BatchId</th>
<th>Update</th>
</tr>
{% for i in data %}
<tr>
<td>{{i.batchno}}</td>
<td>{{i.batchid}}</td>
<td>
<a href="{% url 'edit_batch' i.id %}"><button>
UPDATE</button>
</a>
</td>
</tr>

{% endfor %}
</table>
<p align="center"><a href="{% url 'smms' %}"><button type="button">HOME </button></a></p>
{% endblock %}