<!DOCTYPE html>
<html>
{% extends "master.html" %}
{% block title %}
EXAM MASTER
{% endblock %}
{% block content %}
    <body>
        <U><h2 align="center">EXAM MASTER VIEW</h2></U>
        <table border="5" align="center">
            <tr>
                <th>ExamId</th>
                <th>ExamType</th>
            </tr>
            {% for x in data %}
            <tr>
                <td>{{ x.examid }}</td>
                <td>{{ x.examtype }}</td>
            </tr>
            {% endfor %}
        </table>
<br>
<br>
<p align="center"><a href="{% url 'smms' %}"><button type="button">HOME </button></a></p>
    </body>
    {% endblock %}
</html>