<!DOCTYPE html>
<html>
{% extends "master.html" %}
{% block title %}
PAPER MASTER
{% endblock %}
{% block content %}
    <body>
          <U><H2 ALIGN="center">PAPER MASTER UPDATE</h2></U>
        <table border="5" align="center">
            <tr>
                <th>PAPERNAME</th>
                <th>PAPERCODE</th>
		        <th>PAPERTYPE</th>
                <th>PAPERSHEET</th>
                <th>UPDATE</th>
            </tr>
            {% for x in data %}
            <tr>
                <td>{{ x.papername }}</td>
                <td>{{ x.papercode }}</td>
		        <td>{{ x.papertype }}</td>
                <td>{{ x.papersheetname }}</td>
                <td>
                    <a href="{% url 'edit_paper' x.id %}"><button>
                    UPDATE</button>
                    </a>
                    </td>
                    </tr>
            {% endfor %}
        </table>
<br>
<br>
<p align="center"><a href="{% url 'smms' %}"><button type="button">HOME </button></a></p>
    </body>{% endblock %}
</html>