<!DOCTYPE html>
<html>
    <body>
        <h1>Student Master</h1>
        <table border="1">
            <tr>
                <th>StudentName</th>
                <th>StudentRegNo</th>
		<th>Course</th>
		<th>Sem</th>
		<th>Batch_No</th>
            </tr>
            {% for x in data %}
            <tr>
                <td>{{ x.studentname }}</td>
                <td>{{ x.studentregno }}</td>
		<td>{{ x.course }}</td>
		<td>{{ x.sem }}</td>
		<td>{{ x.batchno }}</td>
            </tr>
            {% endfor %}
        </table>
<br>
<br>
<button align="center"><a href="{% url 'smms' %}">HOME </a></button>&nbsp;&nbsp;&nbsp;&nbsp;
    </body>
</html>