<html lang="en">
    <head>
        <title>Transaction Table</title>
<meta charset="UTF-8">
        <title>TRANSACTION ENTRY</title>
    </head>
    <body bgcolor="lightpink">
        <h1 align="center">TRANSACTION ENTRY FORM</h1>
        <h3 align="center">Please enter transaction details</h3>
        <form method="post" action="{% url 'process_transaction_entry' %}">
            {% csrf_token %}
    </head>
    <body>
        <p align="center">
        <label>COURSE:<input type="text" name="course" placeholder="course"></label><br><br>
        <label>BATCH NO:<input type="text" name="batch" placeholder="batchno"></label><br><br>
        <label>SEMESTER:<input type="text" name="semester" placeholder="semester"></label><br><br>
        <label>EXAM TYPE:<input type="text" name="exam_type" placeholder="exam_type"></label><br><br>
        <label>STUDENT REG_NO:<input type="text" name="registernumber" placeholder="registernumber"></label><br><br>
        <label>STUDENT NAME:<input type="text" name="NAME" placeholder="NAME"></label><br><br>
        <label>PAPER CODE:<input type="text" name="papercode" placeholder="papercode"></label><br><br>
        <label>PAPER NAME:<input type="text" name="papername" placeholder="papername"></label><br><br>
        <label>MARKS :<input type="text" name="marks" placeholder="marks"></label><br><br>
        <p align="center"><button align="center"><a href="{% url 'smms' %}">HOME </a></button>&nbsp;&nbsp;&nbsp;&nbsp;<button type="submit">SUBMIT</button>&nbsp;&nbsp;&nbsp;&nbsp;<button><a href="{% url 'display_transaction' %}">Cancel </a></button></p>
</table>
</form>
    </body>
</html>